@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 350px;
	min-height: 100vh;
}

h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #2f463d;
}

h3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	color: #2f463d;
}

h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #7a8f85;
}

p {
	font-family: 'Ubuntu';
	font-size: 14px;
	line-height: 26px;
	color: #828282;
}

a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #467a66;
}

button {
	font-family: Montserrat;
	font-style: normal;
	border: none;
	cursor: pointer;
}

.flex {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

#bg-img {
	background: #fff url('assets/bg-img.png') no-repeat center;
	background-size: cover;
}

.tab {
	position: relative;
	background-color: #fff;
	width: 350px;
	min-width: 315px;
	min-height: 595px;
	padding: 15px 25px;
	border-radius: 5px;
	box-shadow: 0 5px 20px -5px #505050;
	margin: 10px;
}

#close-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 50px;
}

.main-img {
	margin-bottom: 35px;
	width: 110px;
	height: 110px;
}

#tab01 .text-box,
#tab03 .text-box {
	margin-top: 15px;
	margin-bottom: 25px;
}

#tab01 h2,
#tab03 h2 {
	margin-bottom: 25px;
}

.text-box h2 {
	max-width: 200px;
	margin: auto;
	margin-bottom: 10px;
}

.text-box p {
	margin-bottom: 35px;
}

.order-box {
	background-color: #f0fff5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 30px;
}

#order-img {
	background: #fff url('assets/order-img.png') no-repeat center;
	background-size: cover;
	width: 55px;
	height: 65px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.order-text {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 50%;
	padding: 0 10px;
}

.order-text h3 {
	margin-bottom: 3px;
}

.order-change {
	padding-right: 10px;
}

.cta-btn {
	position: absolute;
	bottom: 75px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	background-color: #a8a8a8;
	color: #ffffff;
	padding: 15px 25px;
	border-radius: 5px;
	margin-bottom: 25px;
	box-shadow: 0 5px 10px -5px #808080;
	transition: 0.5s ease all;
	z-index: 5;
}

.cta-btn:hover {
	opacity: 0.8;
	transition: 0.5s ease all;
}

.btn-active {
	background-color: #46a67e;
}

.dot-box {
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	width: 55px;
	margin: auto;
}

.dot-btn {
	background-color: #fff;
	color: #e0e0e0;
	font-size: 45px;
	margin-bottom: 5px;
}

.dot-green {
	color: #67bd99;
}

#tab01,
#tab03 {
	display: none;
}

@media only screen and (min-width: 992px) {
	#tab01,
	#tab03 {
		display: block;
	}

	.tab--active {
		width: 375px;
		min-width: 350px;
		transform: scale(1.15);
		z-index: 10;
	}
}
